doctype html
html
  head
    title= title
  body(bgcolor='#f2f1f2')

    div(class='uk-child-width-1-1@s', uk-grid='')
      div
        .uk-card.uk-card-default.uk-card-small.uk-card-body(style='padding:20px 60px;')
          .uk-border-circle(style="background-color:#b1e39c; width:4em; height:4em; position:absolute; top:-1em; right:-1em; cursor: pointer;", "(click)"="addTodo(message.value); message.value=''")
            span.uk-align-center.uk-text-large.uk-position-center
              | +
          form
            input.uk-input.test-input(type="text", '#message',  placeholder="Tell us your ToDo! :D")
            small.uk-text-danger(*ngFor="let validationError of validationErrors.message")
              | {{validationError.msg}}
          div.uk-padding-small.uk-padding-remove-horizontal.uk-padding-remove-bottom
            table.uk-table.uk-table-justify.uk-table-divider
              tbody
                tr(*ngIf="contentData.count === 0")
                  td.todo-empty-list.uk-text-center.uk-text-small
                    | Nothing to list
                tr(*ngFor="let todo of contentData.rows")
                  td {{todo.message}}
                  td.uk-width-small
                    button.uk-button.uk-button-default(type='button', '(click)'='deleteTodo(todo.id)') Delete

            button.uk-width-1-1.uk-button.uk-button-default(type='button', '(click)'='loadMore()') Load more 10
