body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

input.uk-input.test-input {
  border-width: medium;
  border-color: unset;
  border-bottom-color: #ccc;
  border-left: unset;
  border-right: unset;
  border-top: unset;
  &:focus {
    border-bottom-color: #b1e39c;
  }
}


.todo-empty-list {
  color: #ccc;
}
